
 /* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background: #092c50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


footer {
    background: #092c50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}


.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.join-btn {
    background: hsla(185, 18%, 62%, 0.797);

    color: rgb(5, 41, 75);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.view-toggle button {
    background: #2c3e50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.view-toggle button.active {
    background: #3498db;


}

#members-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.member-card {
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.member-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.member-card h3 {
    margin-top: 10px;
}

.member-card p {
    margin: 5px 0;
}

.member-card a {
    display: inline-block;
    background: #092c50;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    text-decoration: non ;
}
